@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
  --moz-red: #C13832;
  --moz-charcole: #4D4E53;
  --moz-sand: #D7D3C8;
  --appbar-height: 65px;
  --sidebar-width: 300px;
}

body, html {
  min-height: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;;
  color: var(--moz-charcole);
}

.appbar {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0,.06), 0 1px 2px rgba(0, 0, 0, .06);
  height: var(--appbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  padding: 0.45rem;
  text-align: center;
  font-size: 32px;

  & .appbar-icon {
    color: var(--moz-red);
    padding-right: 10px;
  }
}

.sidebar {
  box-shadow: 0 1px 6px rgba(0, 0, 0,.12), 0 1px 4px rgba(0, 0, 0, .12);
  background-color: white;
  display: block;
  height: calc(100% - var(--appbar-height));
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  top: var(--appbar-height);
  width: var(--sidebar-width);
  z-index: 5;
}

.content {
  padding: 0 1.25rem 1.25rem 1.25rem;
  margin-left: var(--sidebar-width);
}

.response {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
}

.bug {
  margin: 0 10px;
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}

.bug-container{
  margin-top: var(--appbar-height);
}

.ant-menu-inline,
.ant-menu-inline .ant-menu-item,
.ant-menu-inline .ant-menu-selected,
.ant-menu-inline .ant-menu-item-selected {
  border-right: none;
}

.ant-card-head {
  padding: 0 50px 0 24px;
}

.ant-menu-item-selected {
  color: var(--moz-charcole);
}

.ant-checkbox-wrapper {
  width: 100%;
}

.ant-card-extra {
    right: 10px;
    top: 10px;
}
