@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
  --moz-red: #f24b00;
}

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  & .app-title {
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    margin: 10px;

    & .app-title-icon {
      color: var(--moz-red);
    }
  }

  & .app-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }
}

.filter-group {
  margin: 5px;

  & .filter-group-label {
    font-weight: bold;
  }
}

.filter-checkbox {
  margin: 2px 0;
}

.filter-container {
  width: 25%;
  padding: 0 5px;
}

.bug-container {
  width: 75%;
  padding: 0 5px;
}

.bug .bug-status{
    border-radius: 5px;
    padding: 5px; 
    color: white;
    font-size: 13px;
}
.response{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
}
.bug {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 0 10px 0;
  text-decoration: none;
  color: black;

  &:hover {
    background: #eee;
  }

  & .bug-status,
  & .bug-summary {
    margin: 0 2px;
    line-height:1.6;
  }

  & .bug-status {
    font-weight: 900;
  }
}
